<div class="clearfix">
	<form ng-Submit="post()">
		<input required type="text" class="form-control" placeholder="Your name" ng-model="newItem.created_by" /> 
		<br>
		<textarea required class="form-control" maxlength="200" rows="3" placeholder="Add a song, movie, book, etc." ng-model="newItem.text"></textarea>
		<input class="btn submit-btn pull-right" type="submit" value="Add!" />
	</form>
	<br>
	<hr>
	<div id="items-stream">
		<h4>Items Feed</h4>
			<div class="post" ng-repeat="item in items | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'"> 
				<p>{{item.text}}</p>
				<small>Added by @{{item.created_by}}</small>
				<small class="pull-right">{{item.created_at | date:"h:mma 'on' MMM d, y"}}</small>
			</div>
	</div>
</div>